/L4-Sinhala/demoweb/target/
/L4-English/demoweb/target/
/L5-Sinhala/DemoEE/target/
/L5-English/DemoEngEE/target/
/L7-Sinhala/bootApp/target/
/L7-English/bootappeng/target/
/project/SMSWEB/target/
/project/SMSEngWeb/target/
